<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="inetBanking">
  <test name="Test Case1">
      <parameter name="browser" value="edge"/>
     
      <classes>
      <class name="com.inetbanking.testcases.TC_LoginTest_001"/>
      </classes>
 
     
  </test> <!-- Test -->
</suite> <!-- Suite -->